/swin_model/checkpoints
/swin_model/__pycache__
/swin_model/TrainingData
*.yml
*.yaml
/.idea
swin_model/tester.py
/swin_model/Figures
/swin_model/checkpoints_ssl
/MasterLaTeXEnglish_Update
/swin_model/SwinMAE
swin_model/ssl_tester.py
/swin_model/SSLSwinMM
swin_model/overfit_test.py
swin_model/stack_channels.py
swin_model/tif_stacking.py
swin_model/debugger.py
swin_model/requirements.txt
swin_model/setup_runpod.sh
swin_model/subvolumes.py
swin_model/train_ssl.sh
requirements_conda.txt
.claude/settings.local.json
/swin_model/.claude
